<div class="related">
  <div class="h2">{{ site.data.settings.related_posts }}</div>
  {% assign listed_posts_urls = page.url | split: ' ' %}
  <ul class="related-posts">
    {% for tag in page.tags %}
      {% for mypost in site.tags[tag] limit:3 %}
        {% if listed_posts_urls contains mypost.url %}
        {% else %}
          <li>
            <a href="{{ site.github.url }}{{ mypost.url }}">{{ mypost.title }}</a>
            <p class="post-date"><span><i class="fa fa-calendar" aria-hidden="true"></i> {{ mypost.date | date: "%B %-d" }} - <i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</span></p>
          </li>
          {% assign listed_posts_urls = listed_posts_urls | push: mypost.url %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>
</div>
